@import "utils";
@import "fonts";
@import "typography";

body {
  background: $c-gray;
}
.hidden{
  opacity: 0;
}
.title{
  font-size: 24px;
  cursor: pointer;
  color: lightcoral;
  border-radius: 3px;
  margin-bottom: 7px;
  padding: 4px;
}

ul > li:hover{
  font-weight: bold;
}

ul > li:hover > ul{
  font-weight: normal;
}